.form {
    margin-right: 104px;
    width: 100%;
    max-width: 600px;
  }
  
  .form-control input {
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    font-family: inherit;
    padding: 16px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--cinder-light);
    background: var(--light-2);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .form-control textarea {
    width: 100%;
    font-family: inherit;
    padding: 16px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--cinder-light);
    background: var(--light-3);
    border-radius: 8px;
    margin-bottom: 16px;   
    box-shadow: none;
    border: none;
    outline: none;

  }
  
  .submit-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 18px 24px;
    line-height: 17px;
    border-radius: 8px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    position: relative;
    background:#003366;
    color: #fff;
    width: -webkit-fill-available;
  }
  
  .submit-btn:hover {
    color: #ff3300;
  }

  @media only screen and (max-width: 968px) {
    .contact-form {
      margin: 0;
      max-width: -webkit-fill-available;
    }
  }